footer {
// CARDS
   .programCards {
      margin-top: 50px;
      .row {
         .card {
            background-color: transparent;
            border: none;

            a {
               text-decoration: none;

               .ig {
                  
                  margin-left: 50px;
               }

               .body {
                  margin-left: 50px;
                  .card-title {
                     font-size: 17px;
                     color: white;
                     margin-left: 100px;
                     margin-top: -55px;
                     text-transform: uppercase;

                     .be {
                        color: #d2ab67;
                        font-style: italic;
                     }
                  }

                  .fas.fa-chevron-right {
                     color: #D2AB67;
                     float: right;
                     margin-right: -20px;
                     margin-top: -10px;
                     font-size: 20px;
                  }
               }
               @media (max-width:414px) {
                  .body{
                     margin-left: 0px;
                     .fas.fa-chevron-right {
                       margin-right: 0px;
                    }
                  }
                  .ig{
                     margin-left: 0px;
                  }
               }
               @media (max-width:320px) {
                  .body{
                     margin-left: -20px;
                     .card-title {
                        font-size: 14px;
                     }
                     .fas.fa-chevron-right {
                       margin-right: 0px;
                    }
                  }
                  .ig{
                     margin-left: 0px;
                  }
               }
            }
         }

         .card::after {
            content: "";
            background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
            height: 1px;
            margin-top: 20px;
            display: block;
         }

         #card::after {
            content: "";
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
            height: 1px;
            margin-top: 20px;
            display: block;
         }

         @media(max-width:991px) {

            .card::after,
            #card::after {
               content: "";
               background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
               height: 1px;
               margin-top: 30px;
               display: block;
            }
         }
         
      }
   }
      
// lOGO
   .hr-theme-slash-2 {
      display: flex;
      width: 100%;
      margin-top: 30px;

      .hr-line {
         width: 100%;
         height: 1px;
         position: relative;
         margin-top: 50px;
         top: 50%;
         position: relative;
         transform: translateY(-50%);
         -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
      }

      .hr-line.hr-line-left {
         background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
      }

      .hr-line.hr-line-right {
         background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
      }

      .hr-icon {
         position: relative;
         padding: 10px;
      }
   }


// OBJECT
   .Objectives {
      .objectives {
         display: flex;
         margin-left: 0px;
      }

      .links{
         margin-left: 80px;
      }

      .title-objectives {
         color: #D2AB67;
         margin-left: 15px;
         margin-top: 30px;
         font-size: 25px;
         text-transform: uppercase;
      }

      .line {
         color: #D2AB67;
         font-size: 20px;
      }

      .types-of-objectives {
         color: white;
         margin-left: 5px;
         margin-top: 10px;
         line-height: 30px;
         font-size: 16.7px;
      }

      .typesOfObjectives {
         margin-top: 50px;
      }

      .fas.fa-chevron-right {
         color: #D2AB67;
      }
      @media(max-width:767px) {
         .objectives {
            display: inline;
         }
      
         .links {
            margin-left:0px;
         }
      
         .important {
            display: flex;
         }
      
         .send {
            width: 70px;
         }
         .title-objectives{
            font-size: 20px;
         }
         .typesOfObjectives{
            margin-top: 30px;
         }
      }
      @media(max-width:320px) {
         .title-objectives{
            font-size: 18px;
         }
         .typesOfObjectives{
            margin-top: 30px;
         }
         .types-of-objectives{
            font-size: 14px;
            line-height:20px;
         }
      }
   }
   .Objectives::after {
      content: "";
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
      width: 100%;
      height: 1px;
      margin-top: 30px;
      display: block;
   }


// Contact
.Contact {
   .contact-title {
      color: #D2AB67;
   }

   .fas.fa-map-marker-alt,
   .fas.fa-phone-alt,
   .fas.fa-envelope-open {
      color: #D2AB67;
   }

   .address,
   .phone,
   .mail {
      color: white;
      font-family: 'Merriweather', serif;
      margin-top: 20px;
   }

   .con-info {
      margin-top: 30px;
   }

   .footer {
      margin-top: 50px;
      display: flex;
   }

   .mails {
      margin-left: 80px;
   }

   .mail-title {
      color: #D2AB67;
      margin-top: -30px;
   }

   #input {
      border: 1px solid #2767ad;
      background-color: #2767ad;
      margin-top: 10px;
   }

   .send {
      border: 1px solid #d2ab67;
      background-color: #d2ab67;
      color: white;
      width: 100px;
      margin-top: 10px;
   }

   @media (max-width:767px) {
      .contact-title {
         font-size: 20px;
      }

      .con-info {
         font-size: 13px;
         margin-top: 40px;
      }

      .mail-title {
         font-size: 20px;
      }

      .send {
         width: 65px;
      }
   }
   @media (max-width:414px) {
      .footer{
         display: inline-block;
         margin-left: 15px;
      }
      .mails{
         margin-left: 0px;
      }
      .contact-title {
         font-size: 20px;
      }

      .con-info {
         font-size: 15px;
         margin-top: 40px;
      }

      .mail-title {
         margin-left: 0px;
         margin-top: 50px;
         font-size: 18px;
      }
      .mail{
         width: 100px;
      }
      .send {
         font-size: 15px;
         width: 70px;
      }
   }
}

// Copyright
   .Copyright {
      .row {
         .important {
            display: flex;
            margin-left: 15px;

            .name {
               font-size: 14px;
               font-family: 'Merriweather', serif;
               color: white;
               margin-top: 20px;
            }
         }
         @media(max-width:600px){
            .important{
               display: inline;
            }
         }
      }

      .row::after {
         content: "";
         background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
         width: 100%;
         height: 1px;
         display: block;
      }

      .copyright {
         margin-top: 10px;
         font-size: 18px;
         text-align: center;
         color: white;
         font-family: 'Merriweather', serif;
      }
      @media (max-width:767px) {
         .copyright{
            font-size: 15px;
         }
      }
      @media (max-width:320px) {
         .copyright{
            font-size: 12px;
         }
      }

   }

}




