.Offices{
   .office{
      .body{
         display: flex;
         .img{}
         .body-info{
            margin-top: -10px;
            margin-left: 30px;
            font-size: 15px;
            .date{
               color: #D2AB67;
               font-style: italic;
            }
            .what-they-do{font-family: 'Merriweather', serif;}
         }
      }
   }
}