.Agent {
   .title-team {
      margin-top: 80px;
      color: white;
   }
   .title-team::after {
      content: "";
      background-image: linear-gradient(to right, rgba(255 , 255 , 255 , 0), rgb(255, 255, 255), rgba(255 , 255 , 255 , 0));
      height: 1px;
      margin-top: 10px;
      display: block;
   }
   .card {
      background-color: transparent;
      border: none;
      margin-top: 50px;

      .card-body1 {
         margin-top: 30px;

         .card-title {
            color: white;
         }

         .social {
            float: right;
            margin-right: 150px;
            word-spacing: 20px;
            margin-top: -30px;

            .fab.fa-facebook-f,
            .fab.fa-twitter {
               color: white;
               font-size: 13px;
               display: inline-block;
               border-radius: 50%;
               box-shadow: 0px 0px 2px #5d94d3;
               background-color: #5d94d3;
               padding: 0.5em 0.6em;
            }
         }
         @media (max-width:991px) {
            .social{
               margin-right: -20px;
            }
         }
         @media (max-width:576px) {
            .social{
               margin-right: 200px;
            }
         }
         @media(max-width:320px){
            .card-body{
               margin-top: 0px;
               margin-left:0px;
            }
            .card-title{
               font-size: 17px;
            }
            .social{
               float: right;
               margin-right: 100px;
            }
            .fab.fa-facebook-f,
            .fab.fa-twitter{
               font-size: 10px;
            }
         }
         .job {
            color: #D2AB67;
         }
      }
   }

   .news {
      border-top: 1px solid #5d94d3;

      .info {
         .date {}

         .new-link {
            text-decoration: none;

            .new {
               margin-top: 20px;
               font-family: 'Merriweather', serif;
               font-size: 15px;
               color: white;
            }
         }

         .date,
         .time,
         .place {
            color: #D2AB67;
            font-style: italic;
            font-family: 'Merriweather', serif;
         }
      }
   }
   .news::after{
      content: "";
      background-image: linear-gradient(to right, rgba(255 , 255 , 255 , 0), rgb(255, 255, 255), rgba(255 , 255 , 255 , 0));
      height: 1px;
      margin-top: 10px;
      display: block;
   }
}
.Calendar{
   .wrapper {
      float: right;
      margin-top: -53.5%;

      .container-calendar {
         background: transparent;
         padding: 15px;
         max-width: 445px;
         margin: 0 auto;
         overflow: auto;

         .button-container-calendar {
            margin-top: 65px;

            button {
               cursor: pointer;
               display: inline-block;
               background: transparent;
               border: 1px solid transparent;
               border-radius: 4px;
               padding: 5px 10px;
            }

            #previous {
               color: #D2AB67;
               float: left;
            }

            #next {
               color: #D2AB67;
               float: right;
            }

            #monthAndYear {
               font-size: 18px;
               text-align: center;
               color: white;
            }

            @media(max-width:991px) {
               #monthAndYear {
                  font-size: 16px;
               }
            }
         }

         .button-container-calendar::after {
            content: "";
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
            height: 1px;
            margin-top: 10px;
            display: block;
         }

         .table-calendar td,
         .table-calendar th {
            font-size: 15px;
            padding: 20px;
            border: 2px solid #054ea185;
            text-align: center;
            vertical-align: top;
            color: white;
         }

         @media(max-width:991px) {
            .table-calendar td,
            .table-calendar th {
               font-size: 13px;
            }
         }
         @media(max-width:414px) {
            .table-calendar td,
            .table-calendar th {
               padding:10px;
               font-size: 12px;
            }
         }
         @media(max-width:320px) {
            .table-calendar td,
            .table-calendar th {
               padding:5px;
               font-size: 12px;
            }
         }

         .table-calendar {
            border-collapse: collapse;
            width: 100%;

            #calendar-body {
               .date-picker {
                  background-color: #5d94d3;
                  color: white;
               }

               .date-picker:hover {
                  background-color: #316fb6;
                  color: white;
               }

               .date-picker.selected:hover {
                  background-color: #D2AB67;
               }


               .date-picker.selected {
                  font-weight: bold;
                  background-color: #d2ab67b4;
               }

               .date-picker.selected span {
                  border-bottom: 2px solid currentColor;
               }

               .date-picker:nth-child(1) {
                  background-color: #1b487c;
               }


               .date-picker:nth-child(6) {
                  background-color: #6387b1;
               }

               @media(max-width:991px) {
                  .date-picker {
                     font-size: 13px;
                  }
               }
            }

         }

         .footer-container-calendar {
            margin-top: 1em;
            padding: 10px 0;
         }

         .footer-container-calendar select {
            cursor: pointer;
            display: inline-block;
            zoom: 1;
            background:#316fb6;
            color: #D2AB67;
            border: 1px solid #5d94d3;
            border-radius: 3px;
            padding: 5px 1em;
         }
      }
   }
   @media(max-width:1680px){
      .wrapper{
         margin-top: -43%;
      }
   }
   @media(max-width:1399px){
      .wrapper{
         margin-top: -54%;
      }
   }
   @media (max-width:1199px) {
      .wrapper {
         margin-top: -68%;
         margin-right: -50px;
      }
   }
   @media (max-width:1027px) {
      .wrapper {
         width: 455px;
         margin-right: 0px;
      }
   }
   @media(max-width:991px) {
      .wrapper {
         float: none;
         margin-top: 0px;
         margin-right: 0px;
      }
   }
   @media(max-width:414px) {
      .wrapper {
            float: none;
            width: 380px;
      }
   }
   @media(max-width:320px) {
      .wrapper {
            float: none;
            width: 320px;
            margin-left: -10px;
      }
   }
   }
