body {
   overflow-x: hidden;
   background-image: url(../images/Mask.png);
   background-size: cover;
   background-repeat: no-repeat;
}

.link-name {
   margin-top: 60px;

   .link {
      text-decoration: none;
      color: white;
      word-spacing: 10px;

      .fas.fa-chevron-right {
         margin-left: 20px;
         color: #D2AB67;
      }
   }

   .link:hover {
      color: #D2AB67;
   }
}



.Group {
   margin-top: 60px;
   margin-left: 30px;

   .team {
      .row {
         .card {
            background-color: transparent;
            border: none;
            border: 1px solid;
            border-top: 0;
            border-bottom: 0;
            border-left: 0;
            border-image: linear-gradient(to bottom, rgba(226, 226, 226, 0.61) 48%, rgba(255, 255, 255, 0) 100%);
            border-image-slice: 1;
         }
         @media(max-width:575px){
            .card::after{
               content: "";
               background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
               height: 1px;
               width: 100%;
               margin-top: 10px;
               display: block;
            }
         }

         .card-img-top {
            position: sticky;
            margin-left: 90px;
            width: 150px;
            height: 150px;
         }
         .card-block {
            margin-top: 20px;

            .card-title {
               text-align: center;
               color: white;
            }
            
            .card-text {
               font-size: 15px;
               text-align: center;
               color: #D2AB67;
               font-family: 'Merriweather', serif;
            }

            .small {
               text-align: center;
            }
        

            @media(max-width:1199px) {
               .card-title {
                  font-size: 19px;
               }

               .card-text {
                  text-align: center;
               }
               .small {
                  text-align: center;
               }
            }

            @media(max-width:991px) {
               .card-title {
                  font-size: 13px;
                  text-align: center;
               }

               .card-text {
                  font-size: 11px;
                  text-align: center;
               }
            }
            @media(max-width:767px) {
               .card-title {
                  font-size: 13px;
                  text-align: center;
               }

               .card-text {
                  font-size: 11px;
                  text-align: center;
               }
            }

            @media(max-width:575px) {
               .card-title {
                  font-size: 17px;
                  text-align: center;
               }
               .card-text {
                  font-size: 14px;
                  text-align: center;
               }
            }

         }
         .social{
            font-size: 17px;
            margin-top: 10px;
            text-align: center;
            
            .fab.fa-facebook-f{
               background-color: #2767ad;
               border-radius: 50%;
               padding: 8px;
               margin-left: 5px;
               color: white;
            }
            .fab.fa-twitter{
               background-color: #2767ad;
               border-radius: 50%;
               padding: 8px;
               margin-left: 10px;
               color: white;
            }
         }
         .socialDown{
            font-size: 17px;
            margin-top: 55px;
            text-align: center;
            
            .fab.fa-facebook-f{
               background-color: #2767ad;
               border-radius: 50%;
               padding: 8px;
               margin-left: 5px;
               color: white;
            }
            .fab.fa-twitter{
               background-color: #2767ad;
               border-radius: 50%;
               padding: 8px;
               margin-left: 10px;
               color: white;
            }
         }
         .down{
            margin-top: 30px;
         }

         @media(max-width:1199px) {
            .card-img-top {
               width: 120px;
               height: 120px;
               margin-left: 65px;
            }
            .social{
               font-size: 15px;
            }
            .socialDown{
               font-size: 15px;
               margin-top: 30px;
            }
            .down{
               font-size: 15px;
               margin-top: 10px;
            }
         }

         @media(max-width:991px) {
            .card-img-top {
               margin-left: 50px;
               width: 70px;
               height: 70px;
            }
         }

         @media(max-width:767px) {
            .card-img-top {
               margin-left: 20px;
               width: 70px;
               height: 70px;
            }
            .social{
               font-size: 12px;
            }
            .socialDown{
               font-size: 12px;
               margin-top: 30px;
            }
            .down{
               font-size: 12px;
               margin-top: 10px;
            }
         }
         @media(max-width:414px) {
            .card-img-top{
               margin-left: 120px;
            }
         }
         @media(max-width:320px) {
            .card-img-top{
               margin-left: 75px;
            }
         }
      }
   }

   .row::after {
      content: "";
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
      height: 1px;
      width: 100%;
      display: block;
   }
   @media(max-width:575px){
      .row::after{
         background-image:none;
      }
   }
}

.team::before {
   content: "";
   background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
   height: 1px;
   width: 100%;
   margin-top: 10px;
   display: block;
}

@media(max-width:1199px) {
   .Group {
      margin-left: 20px;
   }
}

@media(max-width:991px) {
   .Group {
      margin-left: 25px;
   }
}


