.contact {
   .title-team {
      margin-top: 50px;
      color: white;
   }

   .title-team::after {
      content: "";
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
      height: 1px;
      margin-top: 10px;
      display: block;
   }

   .contact-row {
      display: flex;

      .mails {
         margin-top: 50px;

         .surname {
            background-color: #5d94d3;
            border: none;
            color: white;
            width: 500px;
            height: 40px;
         }

         .email {
            background-color: #5d94d3;
            border: none;
            color: white;
            width: 500px;
            height: 40px;
            margin-top: 7px;
         }

         #message {
            background-color: #5d94d3;
            color: white;
            width: 500px;
            margin-top: 7px;
         }

         #send {
            border: 1px solid #D2AB67;
            background-color: #D2AB67;
            color: white;
            width: 150px;
            margin-top: 15px;
         }

         @media (max-width:991px) {
            .surname,
            #message,
            .email {
               width: 300px;
            }
         }
         @media (max-width:1199px) {
            .surname,
            #message,
            .email {
               width: 350px;
            }
         }
         @media (max-width:320px) {
            .surname,
            #message,
            .email {
               width: 300px;
            }
         }
      }

      .mapouter {
         // float: right;
         margin-top: 50px;
         margin-left: 80px;
      }

      #gmap_canvas {
         width: 500px;
         height: 220px;
      }
      @media (max-width:1199px) {
         #gmap_canvas {
            width: 350px;
            height: 220px;
         }
      }
      @media (max-width:991px) {
         #gmap_canvas {
            width: 300px;
            height: 220px;
         }
         .mapouter{
            margin-left: -150px;
         }
      }
      @media (max-width:767px) {
         #gmap_canvas {
            width: 350px;
            height: 220px;
         }
         .mapouter{
            margin-left: -150px;
         }
      }
      @media (max-width:320px) {
         #gmap_canvas {
            width: 300px;
            height: 220px;
         }
         .mapouter{
            margin-left: -200px;
         }
      }
   }
   @media (max-width:767px) {
      .contact-row {
         display: inline;
      }
   }
}
