.backgroundImage {
   img {
      filter: saturate(120%);
   }
}

.homeBanner {
   max-height: 80vh;
   height: 500px;

   .homeBannerChild {
      top: 50%;
      position: relative;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);

      .latestNews {
         hr {
            color: #ffffff;
         }

         .more {
            font-size: 20px;
            text-decoration: none;
            color: #d2ab67;
            float: right;
         }

         @media(max-width:991px) {
            .more {
               font-size: 18px;
            }
         }

         @media(max-width:767px) {
            .more {
               font-size: 15px;
            }
         }

         .more:hover {
            color: white;
         }

         .infos {
            margin-top: 40px;

            .dates {
               color: #d2ab67;
               font-style: italic;
            }

            h3 {
               &.info {
                  color: rgb(255, 255, 255);
               }
            }

            @media(max-width:991px) {
               .info {
                  font-size: 20px;
               }
            }

            @media(max-width:767px) {
               .info {
                  font-size: 18px;
               }
            }

            @media(max-width:522px) {
               .info {
                  font-size: 16px;
               }
            }
         }
      }
   }

}

  