.Secretary {
   .title-team {
      margin-top: 80px;
      color: white;
   }

   .title-team::after {
      content: "";
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
      height: 1px;
      margin-top: 10px;
      display: block;
   }
  
   .mb-3 {
      background-color: transparent;
      border: none;
      margin-top: 15px;

      .card-body{
         .card-title {
            color: white;
            margin-top: 20px;
         }
         .social {
            float: right;
            margin-right: 100px;
            word-spacing: 10px;
            margin-top: -30px;

            .fab.fa-facebook-f,
            .fab.fa-twitter {
               color: white;
               font-size: 13px;
               display: inline-block;
               border-radius: 50%;
               box-shadow: 0px 0px 2px #5d94d3;
               background-color: #5d94d3;
               padding: 0.5em 0.6em;
            }
         }
         @media (max-width:767px) {
            .social{
               float: left;
               margin-left: 120px;
            }
            .fab.fa-facebook-f,
            .fab.fa-twitter{
               font-size: 10px;
            }
         }
         @media (max-width:414px) {
            .social{
               float: right;
               margin-right: 30px;
            }
            .fab.fa-facebook-f,
            .fab.fa-twitter{
               font-size: 10px;
            }
         }

         .email {
            color: #D2AB67;
         }
         
         @media (max-width:414px) {
            .email{
               font-size: 15px;
            }
         }
      }
      @media(max-width:767px){
         .card-body{
            margin-top: -120px;
            margin-left: 130px;
         }
         .card-title{
            font-size: 17px;
         }
      }
      @media(max-width:320px){
         .card-body{
            margin-top: 0px;
            margin-left:0px;
         }
         .card-title{
            font-size: 17px;
         }
      }
   }
}

.Secretary::after {
   content: "";
   background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0));
   height: 1px;
   margin-top: 10px;
   display: block;
}

.Posts {
   .posts {
      float: right;

      .sm {
         width: 230px;
      }
      .fb-post {
         margin-top: 20px;

         .post {
            font-size: 30px;
            margin-top: -200px;
            margin-left: 50px;
            color: #D2AB67;
         }
      }

      .tw-post {
         margin-top: 150px;

         .post1 {
            font-size: 30px;
            margin-top: -200px;
            margin-left: 50px;
            color: #D2AB67;
         }
      }
      @media(max-width:991px){
         .sm{
            width: 200px;
         }
         .fb-post{
            margin-top: 30px;
            .post {
               font-size: 22px;
               margin-top: -160px;
               margin-left: 10px;
               color: #D2AB67;
            }
         }
         .tw-post{
            margin-top: 200px;
            .post1 {
               font-size: 22px;
               margin-top: -150px;
               margin-left: 10px;
               color: #D2AB67;
            }
         }
      }
      @media (max-width:500px) {
         .sm{
            width: 180px;
         }
         .fb-post{
            margin-top: 30px;
            .post {
               font-size: 17px;
               margin-top: -120px;
               margin-left: 10px;
               color: #D2AB67;
            }
         }
         .tw-post{
            margin-top: 200px;
            .post1 {
               font-size: 17px;
               margin-top: -120px;
               margin-left: 10px;
               color: #D2AB67;
            }
         }
      }
     
      @media (max-width:414px) {
         .sm {
            height: 220px;
            width: 150px;
         }

         .fb-post {
            margin-top: 30px;

            .post {
               font-size: 15px;
               margin-top: -120px;
               margin-left: 10px;
               color: #D2AB67;
            }
         }

         .tw-post {
            margin-top: 200px;

            .post1 {
               font-size: 15px;
               margin-top: -120px;
               margin-left: 15px;
               color: #D2AB67;
            }
         }
      }
      @media (max-width:320px) {
         .sm {
            height: 200px;
            width: 120px;
         }

         .fb-post {
            margin-top: 30px;

            .post {
               font-size: 12px;
               margin-top: -120px;
               margin-left: 0px;
               color: #D2AB67;
            }
         }

         .tw-post {
            margin-top: 200px;

            .post1 {
               font-size: 12px;
               margin-top: -120px;
               margin-left: 5px;
               color: #D2AB67;
            }
         }
      }
   }

   .about {
      .purpose {
         margin-top: 30px;
         font-size: 18px;
         color: #D2AB67;
      }

      .purpose-p {
         margin-left: 30px;
         font-family: 'Merriweather', serif;
         color: white;
      }

      .experience {
         font-size: 18px;
         margin-top: 30px;
         // margin-left: 30px;
         color: #D2AB67;
      }

      .position {
         margin-left: 30px;
         color: #D2AB67;
      }

      .professional {
         color: white;

         .what-he-does {
            margin-left: 30px;
           .line {
               color: #D2AB67;
            }
         }
      }
      @media(max-width:414px) {
         .experience,.purpose{
            font-size: 15px;
         }
         .position{
            font-size: 12px;
            margin-left: 10px;
         }     
         .purpose-p{
            font-size: 13px;
            margin-left: 10px;
         }
         .professional{
         .what-he-does{
            font-size: 12.5px;
            margin-left: 10px;
         }
      }
      }
      @media(max-width:320px) {
         .experience,.purpose{
            font-size: 15px;
         }
         .position{
            font-size: 12px;
            margin-left: 10px;
         }     
         .purpose-p{
            font-size: 13px;
            margin-left: 10px;
         }
         .professional{
         .what-he-does{
            font-size: 12.5px;
            margin-left: 10px;
         }
      }
      }
   }

   .about::-webkit-scrollbar {
      width: 6px;
   }

   .about::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 10px transparent;
   }

   .about::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background-color: #5d94d3;
   }
}
.Posts::after{
   content: "";
   background-image: linear-gradient(to right, rgba(255 , 255 , 255 , 0), rgb(255, 255, 255), rgba(255 , 255 , 255 , 0));
   height: 1px;
   margin-top: 10px;
   display: block;
}