@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    transform: $property;
  }
  @mixin transition($property) {
    -webkit-transition: $property;
    -moz-transition: $property;
    transform: $property;
  }