body{
   overflow-x:hidden ;
   background-image: url(../images/Mask.png);
   background-size:auto;
   background-repeat: no-repeat;
}

hr{
   color: #5d94d3;
   width: 100%;
}
.link-name{
   margin-top: 60px;
}
.link{
   text-decoration: none;
   color: white;  
   word-spacing: 10px;
   }
.link:hover{
   color: #D2AB67;
}

.fas.fa-chevron-right{
   margin-left: 20px;
   color: #D2AB67;
}
.title-team{
   margin-top: 80px;
   color: white;
   border-bottom: 1px solid #5d94d3;
}
.mails{
   /* display:flex; */
   margin-top: 50px;
}
.email{
   background-color: #5d94d3;
   border: none;
   color: white;
   width: 500px;
   height: 40px;
  
   margin-top: 15px;
}
.surname{
   background-color: #5d94d3;
   border: none;
   color: white;
   width: 500px;
   height: 40px;
}
#message{
   background-color: #5d94d3;
   color: white;
   width: 500px;
   margin-top: 15px;
}
#send{
   border: 1px solid #D2AB67;
   background-color: #D2AB67;
   /* border-radius: 50px; */
   width: 150px;
   margin-top: 30px;
}
.mapouter{
   float: right;
   margin-top: -300px;
   margin-right:80px;
}
#gmap_canvas{
   width: 500px;
}
@media (max-width:1399px) {
   .mails{
      margin-left: 0px;
   }
   .mapouter{
      margin-right: 0px;
   }
}
@media (max-width:1199px) {
   .mapouter{
      margin-top: 50px;
      float: left;
      margin-left: 220px;
   }
   .mails{
      margin-left: 220px;
   }
}
@media (max-width:991px) {
   .mapouter{
      margin-left: 100px;
   }
   .mails{
      margin-left: 100px;
   }
}
@media (max-width:767px){
   .mails{
      margin-left: 80px;
   }
   .email{
      width: 350px;
   }
   .surname{
      width: 350px;
   }
   #message{
      width: 350px;
   }
   .mapouter{
      margin-left: 20px;
   }
}
@media (max-width:414px) {
   .email , #message , #send {
      margin-left: -50px;
   }
   .surname{
      margin-left: -25px;
      width: 325px;
   }
   .mapouter{
      float: left;
      margin-left: -120px;
   }
   #gmap_canvas{
      width: 350px;
   }
}
@media (max-width:320px) {
   .email , #message , #send {
      width: 220px;
      margin-left: -50px;
   }
   .surname{
      margin-left: -25px;
      width: 195px;
   }
   .mapouter{
      float: left;
      margin-left: -230px;
   }
   #gmap_canvas{
      width: 250px;
   }
}

.card{
   background-color: transparent;
   border: none;
   margin-top: 50px;
}
.card-title{
   color: white;
}
.card-body{
   margin-top: 30px;
   margin-left: -60px;
}
.card{
   display: inline-block;
   border: 2px solid transparent;
}

.mb-3{
   background-color: transparent;
}
#cardd{
   margin-left: 105px;
   margin-top: 100px;
}
.card-titlee{
   font-family: 'Cabin', sans-serif;
   text-transform: uppercase;
   color: white;
   font-size: 22px;
   margin-left: -30px;
   margin-top: -15px;
}
.be {
   color: #D2AB67;
   font-style: italic;
}
@media(max-width:1395px){
   #cardd{
      display:inline-block;
      margin-left: 120px;
   }
   .card-titlee{
      margin-left: -5px;
   }
}
@media (max-width:767px) {
   .list-group{
      margin-left: 100px;
   }
}
@media (max-width:320px) {
   #cardd{
      margin-left: 50px;
   }
   .card-titlee{
      font-size: 15px;
   }

}