 /* body {
  overflow-x: hidden;
  background-image: url(../images/Mask.png);
  background-size: cover;
  background-repeat: no-repeat;
}  */
/*.homeBanner {
   max-height: 80vh;
  height: 500px; 
}
.homeBannerChild {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.introduction {
  display: flex;
  margin-bottom: 30px;
}
hr {
  color: #5d94d3;
  width: 100%;
}
 .hr1 {
  color: white;
  width: 100%;
} 
.title {
  font-family: "Cabin", sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 65px;
  color: white;
  padding-left: 30px;
}
.zkm {
  color: #d2ab67;
}
.dates {
  color: #d2ab67;
  font-style: italic;
}
.infos {
  margin-top: 40px;
}
.info {
  color: white;
}
 .mainPageTitle {
  position: relative;
  height: 130px;
}
 .image {
  margin-left: 180px;//
  height: 130px;
}
.image img {
  height: 100%;
  width: auto; 
}*/
/* .more {
  font-size: 20px;
  text-decoration: none;
  color: #d2ab67;
  float: right;
}
.more:hover {
  color: #2767ad;
} */

/* Media queries for navbar --> title */
/* @media (max-width: 1395px) {
  .logo {
    width: 70px;
    height: 70px;
    margin-top: -140px;
    margin-left: -50px;
  }
  .title {
    font-size: 30px;
    margin-top: -90px;
    margin-left: 210px;
  }
  .info {
    font-size: 18px;
    margin-left: 130px;
  }
  .dates {
    margin-left: 130px;
  }
  .hr1 {
    margin-left: 130px;
  }
  .more {
    font-size: 15px;
  }
} */
/* @media (max-width: 1199px) {
  .logo1 {
    height: 30px;
    width: 30px;
  }
  .navbar-light .navbar-brand {
    font-size: 13px !important;
  }
  .navbar-light .navbar-nav .nav-link {
    margin-left: 10px;
    font-size: 10px;
  }
  .form-control.me-2 {
    width: 155px;
    margin-left: 5px;
  }
}
@media (max-width: 991px) {
  .logo {
    width: 45px;
    height: 45px;
    margin-top: -140px;
    margin-left: -30px;
  }
  .title {
    font-size: 20px;
    margin-top: -90px;
    margin-left: 200px;
  }
  .info {
    font-size: 18px;
    margin-left: 150px;
  }
  .dates {
    font-size: 15px;
    margin-left: 150px;
  }
  .hr1 {
    margin-left: 150px;
    width: 680px;
  }
  .more {
    font-size: 15px;
    margin-right: 150px;
  }
}
@media (max-width: 779px) {
  .title {
    font-size: 17px;
    margin-left: 140px;
  }
  .introduction {
    margin-top: 150px;
  }
  .logo {
    width: 30px;
    height: 30px;
    margin-left: -90px;
  }
  .info {
    font-size: 13px;
    margin-left: 80px;
  }
  .dates {
    font-size: 13px;
    margin-left: 80px;
  }
  .hr1 {
    margin-left: 80px;
    width: 450px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 17px;
    margin-left: 190px;
  }
  .introduction {
    margin-top: 150px;
  }
  .logo {
    width: 30px;
    height: 30px;
    margin-left: -40px;
  }
  .info {
    font-size: 13px;
    margin-left: 150px;
  }
  .dates {
    font-size: 13px;
    margin-left: 150px;
  }
  .hr1 {
    margin-left: 150px;
    width: 470px;
  }
  .more {
    font-size: 12px;
    margin-right: 120px;
  }
}
@media (max-width: 414px) {
  .logo {
    width: 35px;
    height: 35px;
    margin-top: -125px;
    margin-left: -170px;
  }
  .title {
    font-size: 18px;
    margin-top: -90px;
    margin-left: 60px;
  }
  .infos {
    margin-top: 0px;
  }
  .info {
    font-size: 13px;
    margin-left: 20px;
  }
  .dates {
    font-size: 15px;
    margin-left: 20px;
  }
  .hr1 {
    margin-left: 20px;
    width: 350px;
  }
  .more {
    font-size: 15px;
    margin-right: 0px;
  }
}
@media (max-width: 320px) {
  .introduction {
    margin-top: 130px;
    margin-left: -30px;
  }
  .hr1 {
    width: 270px;
    margin-left: 50px;
  }
} */

/* .ig {
  margin-left: -2px;
  margin-right: -2px;
  margin-top: -2px;
} */
/* .newsItem {
  margin-bottom: 30px;
}

.newsItem .card {
  display: inline-block;
  border: 2px solid transparent;
}
.card-date {
  font-family: "Merriweather", serif;
  font-style: italic;
  color: #ac8d58;
}
.latestNews .newsItem p {
  color: black;
  font-family: "Merriweather", serif;
  font-size: 15px;
  font-weight: 800;
} */
/* .p2 {
  color: black;
  font-family: "Merriweather", serif;
  font-size: 15px;
  font-weight: 800;
}
.p3 {
  color: black;
  font-family: "Merriweather", serif;
  font-size: 15px;
  font-weight: 800;
} */

/* Media queries for news */
/* @media (max-width: 1507px) {
  .p3 {
    margin-top: 2px;
    font-size: 14.5px;
  }
}
@media (max-width: 1445px) {
  .p3 {
    margin-top: 5px;
    font-size: 13px;
  }
} */
/* @media (max-width: 1395px) {
  .cards {
    margin-right: -100px;
    width: 100%;
  } */
  /* .p1 {
    margin-top: 41px;
  }
  .p2 {
    margin-top: 19px;
  } */
/*@media (max-width: 1285px) {
  .cards {
    margin-right: -100px;
    width: 100%;
  }
   .p1 {
    margin-top: 60px;
  }
  .p2 {
    margin-top: 37px;
  } 
}
 @media (max-width: 1219px) {
  .cards {
    margin-right: -100px;
    width: 100%;
  }
  .p1 {
    margin-top: 67px;
  }
  .p2 {
    margin-top: 22px;
  }
}
@media (max-width: 1199px) {
  .cards {
    margin-right: -100px;
    width: 100%;
  }
  .p1 {
    margin-top: 58px;
  }
  .p2 {
    margin-top: 15px;
  }
  #input {
    margin-left: -200px;
  }
}
@media (max-width: 1164px) {
  .cards {
    margin-right: -100px;
    width: 100%;
  }
  .p1 {
    margin-top: 60px;
  }
  .p2 {
    margin-top: 16px;
  }
}
@media (max-width: 1057px) {
  .cards {
    margin-right: -100px;
    width: 100%;
  }
  .p1 {
    margin-top: 60px;
  }
  .p2 {
    margin-top: 16px;
  }
}
@media (max-width: 991px) {
  .cards {
    margin-right: 70px;
    width: 40%;
  }
  .card {
    margin-top: 60px;
  }
  .p1 {
    margin-top: 110px;
  }
  .p2 {
    margin-top: 65px;
  }
}
@media (max-width: 779px) {
  .cards {
    margin-right: 0px;
  }
}
@media (max-width: 709px) {
  .cards {
    margin-right: -80px;
  }
}
@media (max-width: 500px) {
  .cards {
    margin-right: 50px;
    width: 80%;
  }
  .card {
    margin-top: 50px;
  }
  .p1 {
    margin-top: 110px;
  }
  .p2 {
    margin-top: 65px;
  }
}*/

/* .mb-3 {
  background-color: transparent;
} */
/* #cardd {
  border: none;
  margin-top: 100px;
} */
/* #cardd::after {
  content: "";
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  width: 100%;
  height: 1px;
  margin-top: 10px;
  display: block;
} */
/* .cards{
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  height: 1px;
} */
/* .card-titlee {
  font-family: "Cabin", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  margin-top: -15px;
} */
/* @media (max-width: 414px) {
  .card-titlee {
    font-size: 15px;
  }
} */

/*.subscribe {
  margin-top: 70px;
}
.subscribe .new {
  text-transform: uppercase;
  font-family: "Cabin", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.subscribe .new::after {
  content: "";
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  width: 100%;
  height: 1px;
  margin-top: 10px;
  display: block;
}
 .fas.fa-envelope {
  color: #7e9ec0;
  font-size: 25px;
  margin-top: 5px;
}
#input {
  background-color: #2767ad;
}
.send {
  border: 1px solid #d2ab67;
  background-color: #d2ab67;
  width: 150px;
} */


/* media queries for mail */
/* @media (max-width: 1395px) {
  .new {
    font-size: 18px;
    margin-left: 30px;
  }
  #input {
    width: 200px;
  }
  .email {
    margin-right: -200px;
  }
  .send {
    margin-right: 350px;
  }
}
@media (max-width: 1199px) {
  .new {
    font-size: 18px;
    margin-left: 30px;
  }
  #input {
    width: 200px;
  }
  .email {
    margin-right: -200px;
  }
  .send {
    margin-right: 290px;
  }
}

@media (max-width: 991px) {
  .new {
    font-size: 15px;
    margin-left: 70px;
  }
  .news {
    margin-left: 50px;
  }

  #input {
    width: 200px;
    margin-left: -180px;
  }
  .email {
    float: left;
    margin-left: 220px;
    margin-top: 0px;
  }
  .send {
    margin-right: -180px;
  }
}

@media (max-width: 414px) {
  .new {
    font-size: 15px;
    margin-left: 30px;
  }
  #input {
    width: 180px;
    margin-left: 0px;
  }
  .email {
    float: left;
    margin-left: 50px;
    margin-top: 0px;
  }
  .send {
    width: 100px;
    margin-right: 0px;
    margin-top: 20px;
  }
}
@media (max-width: 320px) {
  .send {
    margin-top: 20px;
    margin-right: 100px;
  }
  #input {
    margin-left: -50px;
  }
  .new {
    margin-left: -50px;
  }

} */

/* .socialNetworksTitles {
  margin-top: 70px;
  margin-bottom: 30px;
} 
.socialNetworksSmall {
  display: none;
} 
 @media (max-width: 767px) {
  .socialNetworksSmall {
    display: block;
  }
  .socialNetworksBig .right {
    display: none;
  }
  .socialNetworksSmall .left {
    display: none;
  }
} */

/* .fab.fa-facebook-f {
  font-size: 30px;
  color: white;
}
.fab.fa-twitter {
  font-size: 30px;
  color: white;
} */

/* .hr-theme-slash-2 {
  display: flex;
  width: 100%;
}

.hr-line {
  width: 100%;
  height: 1px;
  position: relative;
  margin-top: 15px;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.hr-line.hr-line-left {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
}
.hr-line.hr-line-right {
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}
.socialNetworksTitles .hr-icon {
  position: relative;
  padding: 0 10px;
} */

/* .be {
  color: #d2ab67;
  font-style: italic;
} 
.iframes {
  display: flex;
  margin-top: 80px;
}
.tw-iframe {
  margin-left: 50px;
} */
/* media queries for icons and iframe */
/* @media (max-width: 991px) {
  .iframes {
    margin-left: -40px;
    display: inline-block;
  }
  .tw-iframe {
    margin-left: 80px;
  }
}
@media (max-width: 709px) {
  .tw-iframe {
    margin-left: 30px;
  }
}
@media (max-width: 320px) {
  #cardd {
    margin-left: 50px;
  }
  .card-titlee {
    font-size: 15px;
  }
  .fb-post {
    width: 200px;
    margin-left: -50px;
  }
  .tw-iframe {
    margin-left: 30px;
  }
} */
